.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 10px 0 10px;
  max-width: 450px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  transition: color 0.3s ease;
  &:hover {
    color: darken($color: #fff, $amount: 20);
  }
}

.journal__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 10px;
  }
  &::-webkit-scrollbar-button:increment,
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid $primary;
  }
}

.journal__entry {
  background-color: #fff;
  border-radius: 5px;
  color: $dark-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.journal__entry-picture {
  height: 5em;
  width: 5em;
}

.journal__entry-body {
  justify-content: space-between;
  padding: 10px;
  width: 50%;
}

.journal__entry-title {
  font-size: 0.9em;
  font-weight: bold;
}

.journal__entry-content {
  overflow: hidden;
  font-size: 0.6em;
}

.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    font-size: 12px;
    margin-right: 5px;
  }
}
.journal__entry-picture,
.journal__entry-body,
.journal__entry-content,
.journal__entry-date-box {
  margin-right: 10px;
}
